<html>
    <head>
        <title>Message</title>
        <link rel="stylesheet" href="./detail.css">
    </head>
    <body>
        <% console.log('hi') %>
        <%- include('header') %>
        <h4 class="message-user">
            <%= message.user %>
        </h4>
        <div class="content-container">
            <p class="message-content">
                <%= message.text %>
            </p>
            <p class="message-time">
                on <%= message.added %>
            </p>
        </div>
        <a href="/" class="back-link">Go back</a>
    </body>
</html>