body {
    margin: 0px;

}

/* header template */
.header-container {
    display: flex;
    align-items: center;
    height: 70px;
    min-width: 100vw;
    border-bottom: 2px solid black;
}

.header-title {
    margin-left: 200px;
}



.detail-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50%;
    align-items: center;
}

.detail-inner-container {
    /* min-height: 40vh; */
    display: flex;
    flex-direction: column;

}

.message-user {
    font-size: 26px;
    margin-bottom: 5px;
}


.back-link {
    text-decoration: none;
    color: white;
    background-color: rgb(144, 111, 144);
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
    margin-top: 25px;
    width: 95px;
}