body {
    margin: 0px;

}

/* header template */
.header-container {
    display: flex;
    align-items: center;
    height: 70px;
    min-width: 100vw;
    border-bottom: 2px solid black;
}

.header-title {
    margin-left: 200px;
}