body {
    margin: 0px;
}

/* header template */
.header-container {
    display: flex;
    align-items: center;
    height: 70px;
    min-width: 100vw;
    border-bottom: 2px solid black;
}

.header-title {
    margin-left: 40px;
}


.form-container {
    min-width: 100%;
    display: flex;
    justify-content: center; 
}

.message-form {
    position: relative;
    margin-top: 100px;
    width: 40vw;
}

.form-header {
    font-size: 25px;
}

.name-section, .message-section {
    display: flex;
    flex-direction: column;
    font-size: 19px;
}

.name-section {
    margin-bottom: 25px;
}

#user {
    max-width: 40%;
    padding: 6px 8px;
    font-size: 16px;
}

#message {
    padding: 8px;
    font-size: 16px;
}

.submit-message-btn {
    margin-top: 13px;
    padding: 8px;
    font-size: 20px;
    background-color: rgb(144, 111, 144);
    color: white;
    border-radius: 15px;
    border: none;
}

.cancel-message {
    position: absolute;
    top: 25px;
    right: 5px;
    text-decoration: none;
    color: rgb(196, 74, 74);
    font-weight: bold;
    font-size: 26px;
    padding: 3px;
}